@model IEnumerable<User>

@{
    ViewData["Title"] = "Find";
}

<div>
    <ul>
        @foreach (var user in Model)
        {
            <li>
                <a class="user-selector"
                   asp-controller="Home"
                   asp-action="CreatePrivateRoom"
                   asp-route-userId="@user.Id">
                    @user.UserName
                </a>
            </li>

        }
    </ul>
</div>

@section scripts {
    <script>
        var userButtons = document.querySelectorAll('.user-selector');

        userButtons.forEach(btn => {
            btn.addEventListener('click', function () {
                console.log(this);
            });
        });
    </script>
}