@model IEnumerable<Chat>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link href="~/dist/home.css" rel="stylesheet" />
}

<div class="chat">
    <div class="chat__body">
        @foreach (var chat in Model)
        {
            <a class="room-btn" asp-controller="Home" asp-action="JoinRoom" asp-route-id="@chat.Id">
                <span>@chat.Name</span>
            </a>
        }
    </div>
</div>

@section Scripts {
    <script src="~/dist/home.js"></script>
}