<aside class="side-menu">
    <a href="#" class="side-menu__room-btn">
        <span>Room</span>
    </a>
    <a href="#" id="side-menu__create-room" class="side-menu__room-btn">
        <strong>+</strong>
    </a>
</aside>