
@{
    ViewData["Title"] = "Register";
}

<section class="register-page">
    <form asp-controller="Account" asp-action="Register">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" value="Password" />
        <button type="submit">
            Register
        </button>
    </form>
    <a asp-controller="Account" asp-action="Login">Log In</a>
</section>

