<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/dist/app.css" rel="stylesheet" />
</head>
<body>
    <partial name="Partials/Menu/Menu">
    <section class="main-layout">
        @if(User.Identity.IsAuthenticated)
        {
            <vc:room></vc:room>
        }
        @RenderBody()
    </section>

    <partial name="Partials/Modal/Modal" />

    <script src="~/js/site.js"></script>
    <script src="~/dist/app.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
