<div id="create-room-modal" class="modal">
    <form asp-controller="Home" asp-action="CreateRoom" class="modal__body">
        <button type="button" id="modal__body__close" class="modal__body__close">X</button>
        <header>
            Create Room
        </header>
        <div>
            <input type="text" name="name" />
        </div>
        <footer>
            <button>
                Add
            </button>
        </footer>
    </form>
</div>
